<<<<<<< HEAD
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #ffdee9, #b5fffc);
    color: #a83f87;
    text-align: center;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 3rem;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background: #cc697b;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ee859c;
}

section {
    padding: 60px 20px;
}

.letter, .questions {
    max-width: 700px;
    margin: auto;
}

.gallery .photos {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

.footer {
    padding: 30px;
    background: rgba(255,255,255,0.4);
}
.game {
    padding: 60px 20px;
}

canvas {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.game {
    padding: 60px 20px;
}

canvas {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

canvas {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

canvas {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.25);
=======
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #ffdee9, #b5fffc);
    color: #a83f87;
    text-align: center;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 3rem;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background: #cc697b;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ee859c;
}

section {
    padding: 60px 20px;
}

.letter, .questions {
    max-width: 700px;
    margin: auto;
}

.gallery .photos {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

.footer {
    padding: 30px;
    background: rgba(255,255,255,0.4);
>>>>>>> 45b432b372cb554c34adc335c86c1e44a0b88e82
}